

<div class="span4">
<div  id="search_client">
<%=form_tag(client_list_path , method: "get") do %>
  <%=text_field_tag :search, params[:search] %>
  <%=submit_tag "Buscar", :class=>'btn btn-primary' %>
  <%end %>
  
  </div>
  
  <h3> Lista de Clientes</h3>
  <div class="btn btn-nuevo">
  <%= link_to "Nuevo", client_formulario_path  %>
  </div>
    
  
  <table  class="table table-bordered">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Cedula</th>
      <th>Telefono</th>
      <th>Accion</th>
      <th>Accion</th>

    </tr>
    </thead>
    <tbody>
    <% if @client_list.empty? %>
    <tr>
      <td colspan="4">No se encontaron clientes</td>
    </tr>
      <%else %>
      <%=render"list_clientes", mi_list_client: @client_list %>
      <%end %>
    </tbody>

  </table>
</div>
