<%= form_for mi_work_order do |f| %>

  <p>
    <%= f.label :Cliente_%><br>
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :Vehiculo %><br>
    <%= f.text_field :id %>

  </p>
  <p>
    <%= f.submit%>
  </p>

<% end %>