<div >
  <%=link_to "New vehicle", vehicle_formulario_path %>
</div>

<div class="span7">

  <div id="search_vehicle">
    <%=form_tag(vehicle_list_path, method: "get") do %>
    <%=text_field_tag :search, params[:search] %>
    <%=submit_tag "Buscar", :class=>'btn btn-primary' %>
      <%end %>
  </div>
  <h3>Lista de vehiculos</h3>
  <table class="table table-bordered">
<thead>

<tr>

<th>Cliente </th>
<th>Marca</th>
<th>Modelo</th>
<th>Color</th>
<th>Accion</th>
</tr>
</thead>
    <tbody>
    <%if @vehicle_list.empty? %>
    <tr>
      <td colspan="4"> No se encontraron vehiculos</td>
    </tr>
      <%else %>
      <%=render"list_vehiculos", mi_vehicles_list: @vehicle_list %>
      <%end %>
    </tbody>


  </table>
</div>